
 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.menu-bar{
    text-align: center;

}
.menu-bar ul{
    display:inline-flex ;
    list-style: none;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
}
.logo{
    font-weight:bolder;
    font-size:xx-large;
    
}
.background{
    background-color:#f2f2f2;


}

/* green semi circle starts */ 
.imd {
    height: 1000px;
    width: 1000px;
    background-color: greenyellow;
    border-radius: 50%;
    float: right;
    margin-top: -1500px;
    margin-right: -12px;
}

/* green semi circle ends */
.section1{
    float: left;
    width: 50%;
    margin-left: 90px;
}
.section1 h1 {
    padding-bottom: 20px;
}
.section1 h2 {
    padding-bottom: 15px;
}

.button{
    /* text-color:#6CB840; */
    background-color:#6CB840;
    padding: 9px;
    margin-top: 10px;
}
.section2 {
    width: 98%;
    height: 850px;
}

}
.section3{
    float: left;
}
.section4{
    float: right;
    
    
}
.section5 h3{
    text-align: center;
}

}

